<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="SD" translate="label" sortOrder="50">
			<label><![CDATA[SD]]></label>
		</tab>
		<section id="SD" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Home Page Banner</label>
			<tab>SD</tab>
			<resource>SD_CustomBanner::config_extension</resource>
			<group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Configuration</label>
				<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Module Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="first_banner_section" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Banner 1</label>
				<field id="banner_image_1" translate="label" type="image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Image 1</label>
                    <comment>Allowed file types: jpg, jpeg, gif, png</comment>
                    <!-- backend model which save uploaded  file on define location -->
                    <backend_model>SD\CustomBanner\Model\Saveimage</backend_model>
                    <base_url type="media" scope_info="1">wysiwyg</base_url>
                </field>
                <field id="banner_title_1" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Title</label>
                </field>
                <field id="banner_alt_1" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner alt text</label>
                </field>
                <field id="banner_url_1" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner URL</label>
                    <comment>eg. put like /dak-materialen/plat-dak.html</comment>
                </field>
				<field id="data_promotion_active_1" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data promotion active</label>
                    <comment>eg. use true,false</comment>
                </field>
				<field id="data_promotion_id_1" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Promotion-id</label>
                </field>
                <field id="data_promotion_name_1" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Promotion name</label>
                </field>
                <field id="data_promotion_creative_1" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Promotion creative</label>
                </field>
                <field id="data_promotion_position_1" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data promotion position</label>
                </field>
            </group>
            <group id="second_banner_section" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            	<label>Banner 2</label>
            	<field id="banner_image_2" translate="label" type="image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            		<label>Banner Image 2</label>
            		<comment>Allowed file types: jpg, jpeg, gif, png</comment>
            		<!-- backend model which save uploaded  file on define location -->
            		<backend_model>SD\CustomBanner\Model\Saveimage</backend_model>
            		<base_url type="media" scope_info="1">wysiwyg</base_url>
            	</field>
                <field id="banner_title_2" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Title</label>
                </field>
                <field id="banner_alt_2" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner alt text</label>
                </field>
                <field id="banner_url_2" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner URL</label>
                    <comment>eg. put like /dak-materialen/plat-dak.html</comment>
                </field>
            	<field id="data_promotion_active_2" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data promotion active</label>
                    <comment>eg. use true,false</comment>
                </field>
				<field id="data_promotion_id_2" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Promotion-id</label>
                </field>
                <field id="data_promotion_name_2" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Promotion name</label>
                </field>
                <field id="data_promotion_creative_2" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Promotion creative</label>
                </field>
                <field id="data_promotion_position_2" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data promotion position</label>
                </field>
            </group>
</section>
</system>
</config>